
 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background:url('https://am3pap006files.storage.live.com/y4mHEjgflzwc5hZdiw3vfnrRQoO00Y-aAQMh0YN92W5mL5Rpt5rAOqdfPeDubzZdTR7YGGpZeEzXt8KtBbqfgl-RIJTmuT-L2k8oYB1pg1uIRMrEqVPsUNL227rKi4R_RaBrC_jR_SQWmdLOG8AkJNfTjiggADb3dVOWoBh8ayznaEp_f7eobVijHa44mK-t4zxHj3yrScerAoiOmLVUaY6mw/skola.jpg?psid=1&width=1449&height=1040'); 
  background-size: 100%;
  background-repeat: repeat;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2020, 1:43:16 PM
    Author     : anazarovs4
*/

